/********************************************************************************************************/
/*****************************************Heads-Up Notifications CSS*************************************/
/*****************************************By Digital Dynasty Design**************************************/
/********************************************************************************************************/

/********************************************************************************************************/
/*********************************************Customize Colors*******************************************/
/********************************************************************************************************/

.not-color-picker {
    background-color: #db4437; /* This changes the background colour of the notification card */
    color: #ffffff; /* This changes the Font and Icon color of the notification card */
}

/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/


.smallnb {
     margin-left: -125px; /* Needs to be half the width of the div */
     height: 70px;
     width: 250px;
}

.smallt{
     width: 150px;
     top: 20px;
}
    
.smalli{
     height: 70px;
     width: 70px;
}

    
.smallnc{
     width: 20px;
}
    

.smalli i{
     margin-top: -35px !important;
     font-size: 40px;
}



.mediumnb {
     margin-left: -150px; /* Needs to be half the width of the div */
     height: 100px;
     width: 300px;
}

.mediumt{
     width: 180px;
     top: 30px;
}
    
.mediumi{
     height: 100px;
     width: 100px;
}

    
.mediumnc{
     width: 20px;
}
    

.mediumi i{
     margin-top: -45px !important;
     font-size: 60px;
}



.largenb {
     margin-left: -180px; /* Needs to be half the width of the div */
     height: 120px;
     width: 360px;
}

.larget{
     width: 220px;
     top: 40px;
}
    
.largei{
     height: 120px;
     width: 120px;
}

    
.largenc{
     width: 20px;
}
    

.largei i{
     margin-top: -35px !important;
     font-size: 70px;
}







.not-base {
    position: fixed;
    top: -200em;
    left: 50%;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 2147483647;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    user-select: none;
}



 .not-base:hover .not-close{
    display: block;
}


#pop-down { 
     -webkit-animation-name: slide;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-delay: .1s;
   -webkit-animation-fill-mode: both;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: .1s;
    animation-fill-mode: both;
}





.not-text {
    position: relative;
    float: left;
    /*width: 150px;*/
    text-align: left;
    font-size: 100%;
}

.not-close {
    display: none;
    position: relative;
    float: left;
    top: 3px;
    /*width: 20px;*/
    cursor: pointer;
    text-align: right;
}

.not-close i{
    color: #7f7f7f;
    font-size: 20px;
    margin-right: 3px;
}


.not-icon {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    /*height: 70px;
    width: 70px;*/
    text-align: center;

}


.not-icon i {
    position: relative;
    top: 50%;      
}

.not-text-type{
    
}


.not-text-content{
    font-size: 14px;
}

    
.not-base a:link,
          a:visited, 
          a:hover, 
          a:active {
    text-decoration: none;
    color: inherit;
}
    


@-webkit-keyframes slide {
    from {
    top: -200em;
  }
    to {
    top: 0em;
  }
}


@-webkit-keyframes close {
    from {
    top: 0em;
  }
    to {
    top: -200em;
  }
}


@keyframes slide {
    from {
    top: -200em;
  }
    to {
    top: 0em;
  }
}


@keyframes close {
    from {
    top: 0em;
  }
    to {
    top: -200em;
  }
}

/*****************************************By Digital Dynasty Design**************************************/