.example-button-1 {
   display: inline-block;
      position: relative;
      width: 200px;
      height: 50x;
      line-height: 32px;
      border-radius: 2px;
      font-size: 1.2em;
      color: #ffffff;
      text-align: center;
      margin: 10px 20px;
      background-color: #db4437;
      cursor: pointer;
}

 .example-button-1.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .example-button-1.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }

body {
    font-family: 'Roboto Condensed', sans-serif;
    /*background-color: #B6B6B6;*/
}

i {
    margin-top: -40px;
}

.body-content {
    position: relative;
    margin: auto;
    width: 90%;
    padding: 0.3px 20px 10px 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #ffffff

}

.buttons {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
}

.body-content h1 {
    font-size: 55px;
    color: #db4437;
}

.body-content h2 {
    color: #9494B8;
    font-size: 35px;
}

.body-content p {
    font-size: 25px;
}

.body-content ul {
    font-size: 25px;
}

.body-content ul li {
    padding: 5px 0;
}